.form-container {
    padding: 20px;
  }

  
  .MuiTextField-root {
    background-color: #ffffff;
    border-color: #9E9EAC;
  }
  
  .MuiButton-containedPrimary {
    color: #FFF7E8 !important; 
  }
  
  .form-button-container {
    display: flex;
    justify-content: flex-start; 
    margin-top: 16px; 
  }
 