:root {
  background-color: #f5f5f5;
  color: #333333;
 
  @media (min-width: 1680px) {
    width: 1680px;
    margin: 0 auto;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
  }
}

body {
  margin: 0;
}




